<div class="user-profile-avatar">
  <%= image_tag @user.avatar.normal_size.url, class: "img-thumbnail pull-left" %>
</div>

<h1><%= @user.username %> - DASHBOARD</h1>
<div class="user-profile-points">
  <h2><%= @user.points_display %></h2>
</div>

<hr />

<div class="col-md-6">
<h3>Training Plan</h3>
<% if @user.user_drills.length > 0 %>
  <% @user.user_drills.each do |user_drill| %>
    <% if !user_drill.completed %>
        <p>
          <%= link_to user_drill.drill.title, drill_path(user_drill.drill) %>
          <%= link_to fa_icon("minus-square-o"), drill_user_drill_path(user_drill.drill, user_drill.drill.user_drill_for(current_user)), method: :delete %>
        </p>
    <% end %>
  <% end %>
<% else %>
  <h4><%= link_to "No Guts, No Glory. Add some drills!", categories_path %></h4>
<% end %>
<br />
<br />
<div class="drills-completed">
  <h3>Drills Completed</h3>
<% @user.user_drills.each do |user_drill| %>
  <% if user_drill.completed %>
      <p><%= fa_icon("check") %>  (<%= user_drill.drill.drill_group.category.name %>/<%= user_drill.drill.drill_group.name %>) <%= link_to user_drill.drill.title, drill_path(user_drill.drill) %></p>
  <% end %>
<% end %>
</div>
</div>
<div class="achievements col-md-6">
<h3>Achievements <small><%= link_to "view all", achievements_path %></small></h3>
<% @user.achievements.each do |achievement| %>
<div class="panel panel-default" style="padding: 5px">
    <div>
      <%= image_tag achievement.badge.thumbnail.url, class: "img-thumbnail pull-left", style: "margin-right: 0.25em" %>
    </div>
    <h5><%= achievement.name %></h5>
  <div class="clearfix"></div>
</div>
<% end %>
</div>
