<h1>DASHBOARD</h1>
<div class="dashboard col-md-12">
<h1><%= @user.username %></h1>
</div>
<div class="training-plan col-md-6">
<h3>Training Plan</h3>
<% if @user.user_drills.length > 0 %>
  <% @user.user_drills.each do |user_drill| %>
    <% if !user_drill.completed %>
        <p><%= link_to user_drill.drill.title, drill_path(user_drill.drill) %></p>
    <% end %>
  <% end %>
<% else %>
  <h4><%= link_to "No Guts, No Glory. Add some drills!", categories_path %></h4>
<% end %>
<div class="drills-completed">
  <h3>Drills Completed</h3>
<% @user.user_drills.each do |user_drill| %>
  <% if user_drill.completed %>
      <p><%= link_to user_drill.drill.title, drill_path(user_drill.drill) %></p>
  <% end %>
<% end %>
</div>
</div>
<div class="achievements col-md-6">
<h3>Achievements</h3>
<% @user.achievements.each do |achievement| %>
  <h5><%= achievement.name %></h5>
  <p><%= achievement.description %></p>
  <p><%= achievement.point_value %></p>
<% end %>
</div>
