    <div class="col-md-8" style="padding-right: 50px; margin-left: -15px;">
      <h1>Leaderboard</h1>

      <table class="table">
        <thead>
          <tr>
            <th>
              Rank
            </th>
            <th>
              Username
            </th>
            <th>
              Points
            </th>
          </tr>
        </thead>
        <tbody>
            <% @users.each_with_index do |user, i|  %>
              <tr>
                <td>
                  <%= i + 1  %>
                </td>
                <td>
                  <%= link_to user.username, user %>
                </td>
                <td>
                  <%= user.points %>
                </td>
              </tr>
          <% end %>
        </tbody>

      </table>
    </div>

    <div class="col-md-4">
      <h1>YOU: </h1>
      <% if user_signed_in?%>
        <h3><%= current_user.points_display %></h3>
      <% else %>
        <h3><%= link_to "Sign in", new_user_session_path %> to see how you stack up.</h3>
      <% end %>
      <hr />
      <h1><%= link_to "Achievements", achievements_path %></h1>
    </div>
