<h1><%= @user.username %></h1>
<p><%= @user.full_name %></p>
<p>Email: <%= mail_to @user.email %></p>
<h3>Achievements</h3>
<p>
  to do..
</p>

<h3>Completed Drills</h3>
<p>
  to do...
</p>
<hr>
<% if can? :manage, @user %>
  <%= link_to "update profile", edit_user_registration_path %>
  <%= link_to "delete account", edit_user_registration_path, method: :delete, data: { confirm: "Really delete your account? You cannot undo this." } %>
<% end %>
