<h2> Drill: <%= @drill.title %> </h2>


<div class="">
  <h4>Category: <strong><%= @drill.drill_group.category.name %></h4></strong>
</div>

<div class="">
  <h4>Group: <strong><%= @drill.drill_group.name %></h4></strong>
</div>

<div class="">
  <strong>Title: </strong> <%= @drill.title %>
</div>

<div class="">
  <strong>Description: </strong> <%= @drill.description %>
</div>

<div class="">
  <strong>Hint: </strong> <%= @drill.hint %>
</div>

<%= link_to "Edit", edit_drill_path(@drill), class: "btn btn-info" %>
<%= link_to("Delete", drill_path(@drill), {method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this drill?"}}) %>
  <!-- Only Show Solution if user is_admin  -->
<% if can? :manage, @drill %>
  <%= render "solutions/solution" %>
<% end %>

<% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%=flash[:alert] %>
    </div>
<% elsif flash[:notice] %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%=flash[:notice] %>
    </div>
<% end  %>

<%#= render "answers/form" %>

<% if user_signed_in? && @drill.selected_drill_by?(current_user) %>
  <%= link_to fa_icon("minus-square-o"), drill_user_drill_path(@drill, @drill.user_drill_for(current_user)), method: :delete, class: "icon-big" %>
<% else %>
  <%= link_to fa_icon("plus-square"), drill_user_drills_path(@drill), method: :post, class: "icon-big" %>
<% end %>

<%= pluralize(@drill.user_drills.count, "user") %> have added this drill.


<% if @drill.answers.present? %>
  <%= render "answers/answer" %>
<% else %>
  <%= render "answers/form" %>
<% end  %>
