<%= hidden_field_tag 'drill_id', @drill.id %>
<h2> Drill: <%= @drill.title %> </h2>


<div class="">
  <h4><strong><%= link_to @drill.drill_group.category.name, category_path(@drill.drill_group.category) %></strong> / <%= @drill.drill_group.name %></h4>
</div>

<hr />

<% if user_signed_in? && current_user.has_answered_drill?(@drill) %>
  <div class="alert alert-success">
    <h4>DRILL COMPLETED.</h4>
  </div>
<% end %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h5><%= @drill.title %></h5>
  </div>
<div class="panel-body">
  <p>
  <%= @drill.description %>
  </p>
</div>
<div class="panel-footer">
  <p><strong>Skill Level: </strong> <%= @drill.skill_level_display %></p>
  <% if user_signed_in? && @drill.selected_drill_by?(current_user) %>
    <%= link_to fa_icon("minus-square-o"), drill_user_drill_path(@drill, @drill.user_drill_for(current_user)), method: :delete %>
  <% else %>
    <%= link_to fa_icon("plus-square"), drill_user_drills_path(@drill), method: :post %>
  <% end %>

  <span>  Added by <%= pluralize(@drill.user_drills.count, "user") %>.</span>



</div>
</div>




<% if current_user.is_admin? %>

  <%= link_to "Edit", edit_drill_path(@drill), class: "btn btn-info" %>
  <%= link_to("Delete", drill_path(@drill), {method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this drill?"}}) %>
    <!-- Only Show Solution if user is_admin  -->
  <% if can? :manage, @drill %>
    <%= render "solutions/solution" %>
  <% end %>
<% end %>



<% if flash[:drill_alert] %>
  <script type="text/javascript">
    swal({
      title: "Incorrect",
      text: "WHAT WAS THAT PRIVATE!? WRONG!!! DROP DOWN....GIVE ME 20....AND TRY AGAIN!",
      type: "error",
      confirmButtonText: "Try Again",
    });
  </script>

<% elsif flash[:drill_notice] %>
<script type="text/javascript">
  swal({
    title: "Correct",
    text: "CORRECT....OOOOHHHH GOOD FOR YOU, DO NOT GET COMFORTABLE!!!",
    type: "success",
    confirmButtonText: "Ok",
  });
</script>

<% end  %>

<%#= render "answers/form" %>

<div class="">
  <% if user_signed_in? && !current_user.has_answered_drill?(@drill) %>
    <h2>Need a hint, soldier?</h2>
    <%= link_to "Get hint", "javascript:void(0);", id: "use-hint", class: "btn btn-danger"  %>
  <% end %>
  <div class="panel panel-default" id="hint-show" style="display:none"><div class="panel-body"></div></div>
</div>


<div class="show-achievements">
  <% if session[:new_achievement_ids] && @new_achievements.any? %>
    <% @new_achievements.each do |achievement| %>
      <!-- Latest Achievement: <%# achievement.name %> -->
      <script type="text/javascript">
      swal({
        title: "Achievement Unlocked: <%= achievement.name %>",
        text: "<%= achievement.description %>",
        type: null,
        confirmButtonText: "Sir, Yes, Sir!",
        imageUrl: "<%= achievement.badge.normal_size.url %>",
      });

      </script>
    <% end %>
  <% end %>
  <% session[:new_achievement_ids] = nil %>
</div>

<% if user_signed_in? && current_user.has_answered_drill?(@drill) %>
  <%= render "answers/answer" %>
<% elsif current_user.is_admin? %>
  <%= render "answers/answer" %>
<% else %>
  <%= render "answers/form" %>
<% end  %>
