<div class="col-md-8 col-centered">

  <% if flash[:registration] %>
    <div class="alert alert-success">
      <%= flash[:registration] %>
    </div>
  <% end %>

<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email, autofocus: true %>
  <%= f.input :password %>
  <%= f.submit "Log in",  class: "btn btn-primary" %>
<% end %>
<br/>
<%= render "devise/shared/links" %>
</div>
