<%= simple_form_for @achievement do |f| %>
  <div class="form-group">
    <%= f.input :name %>
  </div>
  <div class="form-group">
    <%= f.input :description %>
  </div>
  <div class="form-group">
    <%= f.input :point_value %>
  </div>
  <div class="form-group">
    <%= f.input :badge %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
