<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Drill Groups</title>
  </head>
  <body>


    <h1><%= @category.name %> Drill Groups</h1>

    <div class="">
      <% @category.drill_groups.each do |drill_group| %>
      <div class="">
        <h4><%= drill_group.name %> <%= fa_icon("plus-square") %></h4>
      </div>
        <% drill_group.drills.each do |drill| %>
            <div class="">
              <%= link_to drill.title, drill_path(drill) %>
                <% if user_signed_in? && drill.selected_drill_by?(current_user)  %>
                  <%= link_to fa_icon("minus-square-o"), drill_user_drill_path(drill, drill.user_drill_for(current_user)), method: :delete %>
                <% else %>
                  <%= link_to fa_icon("plus-square"), drill_user_drills_path(drill), method: :post%>
                <% end %>
            </div>

        <% end %>
      <% end %>
    </div>



  </body>
</html>
