<!DOCTYPE html>
<html>
<head>
  <title>DrillrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container">
      <ul>
        <div class="navbar-header">
          <%= link_to root_path do %>
        <span class="navbar-brand">drillr</span>
          <% end %>
        </div>
          <li><%= link_to "Add Category", new_category_path %></li>
          <li><%= link_to "Add Drill Group", new_drill_group_path %></li>
          <li><%= link_to "Add Drill", new_drill_path %></li>
            <div class="pull-right">
              <li><%= link_to "View Profile", users_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            </div>
        </div>
      </ul>
   </nav>

<div class="container">

<%= yield %>

</div>
</body>
</html>
