<!DOCTYPE html>
<html>
<head>
  <title>DrillrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
      <ul>
        <div class="navbar-header">
          <%= link_to root_path do %>
        <span class="navbar-brand">drillr</span>
          <% end %>
        </div>
          <li><%= link_to "Leaderboard", leaderboard_path %></li>
        <div class="btn-group">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
          <li><%= link_to "Add Category", new_category_path %></li>
          <li><%= link_to "Add Drill Group", new_drill_group_path %></li>
          <li><%= link_to "Add Drill", new_drill_path %></li>
        </ul></div>

          <li><%= link_to "View Categories", categories_path %></li>

        <%= image_tag("star.jpg", class: "star") %>
            <div class="pull-right">
              <% if user_signed_in? %>
                <li><%= link_to "View Profile", user_path(current_user) %></li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Login", new_user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>
            </div>
        </div>
      </ul>
   </nav>

<div class="container">
  <div class="col-md-8 col-centered">
<%= yield %>

<div>
</div>
</body>
</html>
